html{
    height: 100%;
    width:100%;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(253, 232, 254);
}



h1{
    background-color: #a0d2eb;
    height: 4%;
    width: 100%;
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
     margin-left: 1%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.field{
    margin-top: 1%;
    margin-bottom: 2%;
    background-color: lightblue;
     width: 100%;
    
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.field2{
    margin-top: 1%;
    margin-bottom: 2%;
    background-color: lightblue;
    width: 94%;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.legend{
    background-color: rgb(35, 38, 40);
    width:15%;
    padding: 1%;
    text-align:left;
    color: #dfecec;
    font-family: 'Times New Roman', Times, serif;
}



.label{
    margin: 1%;
    padding: 1%;
    font-size:xx-large;
    font-family: 'Times New Roman', Times, serif;
}


.textinput{
    background-color: rgb(227, 234, 236);
    width: 40% ;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 1%;
    font-size:larger;
    margin-left:2% ;
    font-family: 'Times New Roman', Times, serif;
}

.textinput1{
background-color: rgb(65, 11, 7);
 color: #f2f5f7;
 margin-left: 40%;
 width: 20%;
 height: 5%;
 font-size: x-large;
 font-family: 'Times New Roman', Times, serif;
 margin-right: 40%;
 margin-top: 1%;
 margin-bottom: 10%;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 border-radius: 10%;


}
footer{
    background-color: #a0d2eb;
    padding: 1%;
    text-align: center;
    height: 4%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.2), 6px 0px 20px 0px rgba(0, 0, 0, 0.19);
}

#cover-page{
    width: 794px;
    height: 1123px;
    background: white;
    margin: 20px auto;

}

#img{
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

#covername{
    width: 100%;
    padding: 1%;
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
table, th,td{
border: 1px solid black;
border-collapse: collapse;



}



  

#marks-table {
   width: 90%;
   margin: 40px 5%;
   margin-bottom: 1%; 
}



.marks-style {
    width: 100%;
    font-size: 17px;
     font-family: 'Times New Roman', Times, serif;
   
}
.marks-style th, 
.marks-style td {
    border: 1px solid #333;
    padding: 12px 8px;
    text-align: center;
   

}

#tm{
    text-align: right;
}

.contents{
    width: 90%;
    display:flex;
    margin-left:5%; 
} 
.contents1{
    justify-content: left; 
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2%;
    padding-left:1% ;
           
    font-weight: 500;
    font-size: larger;

}

.flex1{
    display: grid;
   
}
